@import '~/components/Footer';

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;

  section.jumbotron{
    min-width: 2560px;
    width: 100%;
    display: flex;
    justify-content: center;
    .block{
      height: 320px;
      width: 2560px;
      background-image: url('../../assets/img/about/about-jumbotron@1x.png');
      background-size: contain;
      background-position: center;
      @media (min-resolution: 2dppx) {
        background-image: url('../../assets/img/about/about-jumbotron@2x.png');
      }
    }

  }

  section#service-tabs{
    min-width: 2560px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0;
  }
}
