#help-bar{
  background-color: #fff;
  width: 80px;
  border-radius: 40px;
  padding: 30px 20px;
  position: fixed;
  right: calc(50% - 740px);
  // top: 450px;
  box-shadow: 0px 1px 5px 0 rgba(#000000, 0.2);

  .help-item{
    width: 40px;
    height: 40px;
    cursor: pointer;

    + .help-item{
      margin-top: 40px;
      position: relative;

      &::after{
        content: '';
        background-color: #D8D8D8;
        width: 40px;
        height: 1px;
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
      }

      &.relative {
        .absolute {
          transform: scale(0);
          transition: transform 0.2s linear;
          background-color: white;
          right: calc(100% + 40px);
          border-radius: 5px;
          padding: 10px;
          &::after{
            content: '';
            position: absolute;
            right: -16px;
            width: 0;
            height: 0;
            border-top: 16px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 16px solid transparent;
            border-left: 16px solid white;
          }

          &.top{
            top: -110px;
            transform-origin: right calc(33% - 56px);
            &::after{
              top: calc(33% - 56px);
            }
          }

          &.center{
            top: -210px;
            transform-origin: right calc(50% - 40px);
            &::after{
              top: calc(50% - 40px);
            }
          }


          .platform {
            display: flex;
            flex-direction: column;
            align-items: center;

            + .platform{
              margin-top: 20px;
            }
          }
        }

        &.active{

          .absolute{
            transform: scale(1);
          }
        }
      }
    }
  }
}
