

.title{
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}


.content{
  width: 1000px;
  flex: 1;
  p{
    line-height: 26px;
    cursor: default;

    + p{
      margin-top: 20px;
    }
  }

  ul{
    margin: 20px 0;
    li{
      cursor: default;
      +li{
        margin-top: 20px;
      }
      ul{
        margin-left: 20px;
      }
    }
  }
}

