.prize{
  &-list{
    border: 1px solid #EBEEF5;
    overflow: hidden;
  }

  &-header,
  &-item{
    line-height: 56px;
    padding: 0 10px;
  }

  &-item{
    border-top: 1px solid #F5F5F5;
    &:hover{
      background-color: #EBEEF5;
    }
  }
  &-header{
    background-color: #F5F5F5;
  }
  &-empty{
    color: #999;
  }
}
