.support-header {
  line-height: 40px;
  .tag{
    color: rgba(#666, 0.75);
    cursor: pointer;
    width: 60px;
    position: relative;
    &:hover,
    &.active{
      color: #666;
    }

    &.active::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 6px;
      background: #6236FF;
      border-radius: 3px;

    }
  }

  .search{
    &-contrl{
      width: 360px;
      height: 40px;
      background: #FFFFFF;
      box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.05);
      border-radius: 100px;
      overflow: hidden;
      border: 2px solid transparent;
      transition: all 0.2s ease;
      &:focus-within,
      &:hover{
        border-color: #6236FF;
        box-shadow: 0px 10px 12px 0px rgba(0, 0, 0, 0.05);
      }
    }
    &-input{
      flex: 1;
      text-indent: 20px;
      padding-right: 20px;
      outline: 0;
    }
    &-icon{
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 1px;
        height: 10px;
        background-color: rgba(#CCCCCC, 0.5);
        left: -10px;
      }
    }
  }
}

.support-game {
  &s{
    gap: 10px;
    min-height: 500px;
    grid-template-rows: repeat(10, minmax(0, 40px));
  }

  width: 140px;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: white;
  color: #333333;
  border-radius: 3px;
  transition: background 0.2s ease-out;

  &:hover{
    background: linear-gradient(270deg, #9B66FF 0%, #7D59FF 100%);
    color: white;
  }
}

.support-pages{
  .page-contrl {
    &s{

    }
    color: #5F6165;
    width: 80px;
    line-height: 32px;
    border-radius: 2px;
    outline: 0;
    &:disabled{
      cursor: not-allowed;
    }
    &:not(:disabled):hover{
      color: #6236FF;
    }
    &:not(:disabled):active{
      background-color: #6236FF;
      color: white;
    }
  }

  .page-placehodle{
    cursor: default;
    line-height: 32px;
    width: 32px;
    text-align: center;
  }

  .page-index{
    color: #5F6165;
    outline: 0;
    width: 32px;
    line-height: 32px;
    border-radius: 2px;
    &:hover{
      color: #6236FF;
    }
    &:active,
    &.active{
      background-color: #6236FF;
      color: white;
    }
  }
}

.games-empty{
  height: 500px;
}
