main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;

  section.jumbotron{
    min-width: 1920px;
    display: flex;
    justify-content: center;
    .block{
      height: 320px;
      width: 1920px;
      background-image: url('../../assets/img/support/support-jumbotron.png');
      background-size: contain;
      background-position: center;

    }

    @media only screen and (min-resolution: 2dppx) {
      .block{
        background-image: url('../../assets/img/support/support-jumbotron@2x.png');
      }
    }
  }

  section.section-info{
    min-width: 1920px;
    display: flex;
    justify-content: center;
    .block{
      width: 1200px;
    }
  }

  section#game-support{
    width: 1200px;
  }
}
