@import '~/style/index.scss';
@import '~/components/Footer/index.scss';

main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;

  section.jumbotron{
    width: 100%;
    display: flex;
    justify-content: center;
    .block{
      height: 320px;
      width: 100%;
      background-image: url('../../assets/img/support/support-jumbotron@1x.png');
      background-size: 2560px 320px;
      background-position: center;

      @media (min-resolution: 2dppx) {
        background-image: url('../../assets/img/support/support-jumbotron@2x.png');
      }
    }

  }

  section.section-info{
    width: 100%;
    display: flex;
    justify-content: center;
    .block{
      width: 1200px;
    }
  }

  section#game-support{
    width: 1200px;
  }
}
