

.tabs{
  width: 1200px;
}

.headers{
  width: 200px;
}

.head{
  height: 40px;
  font-size: 16px;
  font-family: PingFangSC-Semibold, PingFang SC;
  line-height: 26px;
  color: #999999;
  font-weight: 400;
  cursor: pointer;

  &.active{
    font-weight: 600;
    color: #333333;
  }
}
