.user{
  &-info{
    position: relative;
    img{
      border-radius: 50%;
    }
    label{
      color: white;
    }
  }

  &-menus{
    border-radius: 4px;
    background-color: white;
    position: absolute;
    bottom: calc(-100% - 10px );
    padding: 4px 0;
    right: 0;
    animation: menus-in 0.2s ease;
    animation-fill-mode:forwards;
    display: flex;
    flex-direction: column;
    width: max-content;
    &::before{
      content: '';
      position: absolute;
      top: -5px;
      right: 15px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-top: 0 solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid white;
    }
  }

  &-menu{
    padding: 4px 7px;
    min-width: 100px;
    color: #666;
    text-align: center;
    &:hover{
      background-color: #f5f5f5;
      color: black;
    }
  }
}

@keyframes menus-in{
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
