footer{
  background-color: #6236FF;
  width: 100%;
  min-width: 1920px;
  height: 260px;
  display: flex;
  justify-content: center;
  padding: 40px;

  .block{
    width: 1200px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .tile{
      line-height: 40px;
      font-size: large;
    }

    ul.list{
      li.item{
        font-size: smaller;
        line-height: 30px;
        a{
          display: block;
          color: rgba(#fff, 0.7);
          transition: all 0.2s ease-out;
          &:hover,
          &:focus,
          &:active{
            color: #fff;
          }
        }
      }
    }

    ul.platforms{
      li.platform{
        width: 60px;
        .cover{
          height: 60px;
        }
        .label{
        }
      }
    }

    .contact{
      width: 160px;
      .tile{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          right: 0;
          bottom: calc(50% - 10px);
          height: 20px;
          width: 1px;
          background-color: rgba(#fff, 0.5);
        }
      }
    }

    .service{
      width: 160px;
      text-align: center;
      .tile{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          right: 0;
          bottom: calc(50% - 10px);
          height: 20px;
          width: 1px;
          background-color: rgba(#fff, 0.5);
        }
      }
    }

    .links{
      width: 400px;
      .tile{
        text-indent: 50px;
      }
    }

    .about{
      width: 320px;
    }

    .kefu{
      width: 160px;
      display: flex;
      align-items: center;
      justify-content: center;
    }



    address{
      width: 100%;
      font-style: normal;
      font-weight: lighter;
      font-size: smaller;
      line-height: 30px;

      .address-icp{
        width: 540px;
      }

    }
  }
}
