<header id="header" class="flex items-center justify-center">
  <div class="block">
    <nav role="navigation">
      <div id="logo" class="flex justify-center items-center">
        <img width="133" height="40" class="logo" src="/assets/img/logo@1x.png" srcset="/assets/img/logo@2x.png 2x"
          alt="奇妙加速器" />
        <img width="36" height="15" class="tag ml-2" src="/assets/img/logo-tag@1x.png"
          srcset="/assets/img/logo-tag@2x.png 2x" alt="免费" />
      </div>
      <ul class="nav-list">
        <li class='nav-item'>
          <a href='/'>首页</a>
        </li>
        <li class='nav-item'>
          <a href='/announcement/'>公告</a>
        </li>
        <li class='nav-item'>
          <a href='/infomation/'>资讯</a>
        </li>
        <li class='nav-item'>
          <a href='/support.html'>游戏支持</a>
        </li>
        <li class='nav-item'>
          <a href='/about.html'>关于我们</a>
        </li>
      </ul>
    </nav>

    <div class="flex-1"></div>

    <div id="user-info"></div>
  </div>
</header>
