@import '../../components/Footer/index.scss';

main{
  section{
    width: 100%;
    &.title{
      min-width: 1920px;
      height: 320px;
      background-image: url('../../assets/img/infomation/title.png');
      background-size: contain;
      background-position: center;
    }

    &.infomation{
      background-color: #F5F5F5;
      .infomation{
        &-block{
          width: 1200px;
        }

        &-list{

        }

        &-item{
          width: 816px;
          height: 160px;
          padding: 0.75rem;
          transition: background-color 0.2s ease;
          &:hover{
            background-color: white;
            border-radius: 10px;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
          }

          .time-icon{
            width: 12px;
            height: 12px;
            background-image: url('../../assets/img/infomation/time.png');
            background-size: contain;
            background-position: center;
            display: inline-block;
          }

          &-time{
            color: #666666;
          }

          &-avatar{
            width: 240px;
            height: 160px;
            margin-right: 20px;
            img{
              object-fit: cover;
              object-position: center;
              border-radius: 5px;
            }
          }

          &-content{
            flex: 1;
          }

          &-title{
            color: #333;
            font-size: 20px;
            line-height: 28px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }

          &-desc{
            color: #999999;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }
      }

      aside.right-side{
        width: 360px;

        .official{
          &-title{
            height: 24px;
          }
          &-extra{
            color: #999999;
          }



          &-item{
            width: 330px;
            color: #333;
            line-height: 25px;

            & + .official-item{
              margin-top: 16px;
            }
          }
        }

        .labeler{
          &-title{
            height: 24px;
          }
          &-extra{
            color: #999999;
          }

          &-list{

          }

          &-item{
            width: 80px;
            height: 32px;
            line-height: 32px;
            border-radius: 3px;
            background-color: white;
            margin: 5px;
            text-align: center;
          }
        }

        .cover{
          width: 130px;
          height: 130px;
          img{
            object-fit: contain;
            object-position: center;
          }
        }

        .download-btn{
          width: 234px;
          height: 54px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(270deg, #9B66FF 0%, #7D59FF 100%);
          box-shadow: 0px 5px 5px 0px rgba(0, 51, 157, 0.1);
          border-radius: 27px;
          color: white;
          font-size: 20px;
          line-height: 28px;
          transition: all .25s ease;
          outline: 0 !important;
          &:hover{
            box-shadow: 0px 10px 10px 0px rgba(0, 51, 157, 0.2);
            transform: translate(4px, -4px);
          }
        }
      }

      .breadcrumb{
        display: flex;
        flex-wrap: wrap;
        padding: .75rem 1rem;
        list-style: none;
        border-radius: .25rem;
        &-item{
          color: #666666;
          &.active{
            color: #333;
            cursor: default;
          }
          +.breadcrumb-item{
            padding-left: .5rem;
            &::before {
              float: left;
              padding-right: .5rem;
              color: #6c757d;
              content: ">";
            }
          }
        }
      }

      .page-control{
        color: #5F6165;
        width: 80px;
        line-height: 32px;
        border-radius: 2px;
        outline: 0;
        &:disabled{
          cursor: not-allowed;
        }
        &:not(:disabled):hover{
          color: #6236FF;
        }
        &:not(:disabled):active{
          background-color: #6236FF;
          color: white;
        }
      }

      .page-placehodle{
        cursor: default;
        line-height: 32px;
        width: 32px;
        text-align: center;
      }

      .page-index{
        color: #5F6165;
        outline: 0;
        width: 32px;
        line-height: 32px;
        border-radius: 2px;
        &:hover{
          color: #6236FF;
        }
        &:active,
        &.active{
          background-color: #6236FF;
          color: white;
        }
      }

    }
  }
}
